@charset "utf-8";

// variables
// path
$imgPath: "@/assets/images/";
$fontPath: "@/assets/fonts/";

// font
$font-face: "PR", sans-serif;
$font-size: 10px;

// color
$color: #fff;
$bg: #121212;
$red: #ff0;
$blue: #dd8709;

$white: #fff;

// size
$max: 1440px;
$min: 360px;

//size
$screen-md: 768px;
$screen-lg: 1025px;
